<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CCH Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="date-box" >
    <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="currentDate" placeholder="Choose Date" (ionChange)="changeDate(currentDate)"
    [max]="maxDate"></ion-datetime>
  </div>
  <div *ngIf="currentDate" style="margin-left: 20px;margin-top: 15px;margin-bottom: 20px;">
    <div style="display: flex;height: 30px;">
      <p class="total_enrolled">Total Enrolled : {{totalCount}}</p>
      <p class="total_present">Total Present : {{presentCount}}</p>
      <p class="total_absent">Total Absent : {{absentCount}}</p>
    </div>
  </div>
  <div style="margin:15px;">
    <ion-list *ngFor="let cchData of cchList" class="cch-list-card">
        <div style="width: 70%; float:left;">
          <span class="cch-name-text">{{cchData.cchName}}</span><br>
          <div class="roll-no-text">CCH Code: {{cchData.cchId}}</div>
       </div>     
       <div style="width: 30%; float:right">
        <div style="float: right;margin-left: 30vw;margin-top: 2vw;">
          <ion-toggle [disabled]="syncedDisabled" [(ngModel)]="cchData.attendance" (ionChange)="switchAttendance(cchData.cchId,cchData.attendance)"></ion-toggle>
        </div>
       </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <div *ngIf="cchList.length>0 && !syncedDisabled" style="height: 12vw;">
    <span class="save-btn" (click)="saveRecord()">SAVE</span>
  </div>
</ion-footer>
