ion-content {
    --ion-background-color:#F7F8FC;
}

ion-select {
    width: 100% !important;
    max-width: 100% !important;
    border: 1px solid #dedede;
    background-color:#ffffff;
    border-radius: 5px;
}

.cch-list-card {
    background-color: white;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding-right: 10px;
    box-shadow: 10px 10px #F7F8FC;
    height: 64px;
}

.save-btn {
    position: absolute;
    top: 30%;
    left: 45%;
    color: #2264F6;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.cch-name-text {
    font-size: 16px;
    font-weight: 600;
}

.roll-no-text {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.4;
    font-weight: 500;
}

.date-box {
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border: 1px solid #dedede;
    border-radius: 5px;
}

.total_enrolled{
    font-size: 12px;
    color: #180858;
}

.total_present{
    @extend .total_enrolled;
    margin-left: 7%;
    color: #00CB39;
    ;
}

.total_absent{
    @extend .total_enrolled;
    margin-left: 7%;
    color: #FF3F3F;
    ;
}

ion-toggle {
    // --background: #006400;
    // --background-checked: #7a49a5;
  
    --handle-background: #FF0000;
    --handle-background-checked: #008000;
}



