<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" class="ion-no-padding">
          <div class="menu-header">
            <p style="text-transform: none;">{{sharedSvc.userFullName}}</p>
            <p>{{sharedSvc.userName}}</p>
          </div>
          <div class="menu-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item *ngIf="p.show" class="ion-activatable" routerDirection="root" lines="none" detail="false" routerLinkActive="selected" (click)="open(p.title)">
                <ion-label>{{ p.title }}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
              </ion-item>
            </ion-menu-toggle>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
