<ion-header>
  <ion-toolbar style="--background: #2264F6;">
    <ion-title style="color: white;">Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="crd">
    <ion-card-content class="crdcntn">
      <p style="font-size: 23px;" (click)="studentAttendance()">Student Attendance</p>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card class="crd">
    <ion-card-content class="crdcntn">
      <p style="font-size: 23px;">Teacher attendance</p>
    </ion-card-content>
  </ion-card> -->
  <ion-card class="crd">
    <ion-card-content class="crdcntn">
      <p style="font-size: 23px;"  (click)="cchAttendance()">CCH Attendance</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="crd">
    <ion-card-content class="crdcntn">
      <p style="font-size: 23px;">Meal Management</p>
    </ion-card-content>
  </ion-card>
</ion-content>
