<ion-header>
  <ion-toolbar style="--background: #2264F6;">
    <ion-title style="color: white;">Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 3vh;">
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="sync_from_server()">
          <div style="display: flex;padding: 3px 0px 2px 0px;background: aliceblue">
            <img src="../../../assets/icon/sync_from.png" class="img">
            <div class="sync-from-server">Sync from Server</div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="sync_to_server()">
          <div style="display: flex;padding: 3px 0px 2px 0px;background: aliceblue">
            <img src="../../../assets/icon/sync_to.png" class="img">
            <div class="sync-from-server"><span [ngClass]="sharedSvc.blinkStauts == true?'blink':''">Sync to Server</span></div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  
  <h4 class="noRecords" >Welcome To MDM</h4>
</ion-content>
