ion-content {
  --ion-background-color: #ffffff;
}

.crd {
  --background: #2264F6;
  color: white;
  margin: 21px;
}

.crdcntn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vw;
}
